
.vsl-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    max-width: 600px;
    margin: 0px auto;
}

.vsl{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    max-width: 600px;
    margin: 0px auto;
    height: 90vh;

}

.vsl> .cta{
    margin-top: 20px;
}

.objecao> h6{
    margin-top: 10px;
}

.objecao, .testimunho{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.inscrito{
    margin-bottom: 20px;
}
